name: CI
# Specify which Github events will trigger a CI build
on: push
#define a single job, build
jobs: 

  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9]

    # specify the OS of the runner
    runs-on: ${{matrix.os}}

    #define steps
    steps:
      # first check out the repo
      - name: Checkout repo
        uses: actions/checkout@v2

      # set up python environment
      - name: set up Python 3.9
        uses: actions/setup-python@v2
        with: 
          python-version: ${{matrix.python-version}}
      # install dependencies
      - name: install python dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt
          pip3 install -e .
      # run tests
      - name: Test with Pytest
        run: |
          pytest tests/test_models.py

      # run linter
      -name: check style with Pylint
        run: |
          python3 -m pylint --fail-under=0 --reports=u inflammation